<h1>Tiny App Nav</h1>

<% if (locals.email) { %>
<form method="POST" action="/logout">
    <%= `Hello ${email}`%>
    <button type="logout">Log Out</button>
</form>
<% } else { %>
<a href="/login">Login</a>
<a href="/register">Register</a>
<% } %>