<h1>Tiny App Nav</h1>
<h2>
    <%= `Hello ${username}`%>
</h2>

<form method="POST" action="/login">
    <input type="text" name="username" value="Enter username">
    <button type="submit">Submit</button>
</form>