<h1>Tiny App Nav</h1>

<% if (user_id) { %>
<form method="POST" action="/logout">
    <%= `Hello ${user_id}`%>
    <button type="logout">Log Out</button>
</form>
<% } else { %>
<a href="/login">Login</a>
<a href="/register">Register</a>
<% } %>