// displays username if they're logged in

<!-- <% if (username) { %>
    <form method="POST" action="/logout">
        <%= `Hello ${username}`%>
        <button type="logout">Log Out</button>
    </form>
    <% } else { %>
        <form method="POST" action="/login">
            <input type="text" name="username" value="Enter username">
                <button type="submit">Submit</button>
    </form>
            <% } %></form> -->

<!-- <% if (user_id) { %>
<%= `Hello ${user_id}`%>
<% } else { %>
<a href="/login">Login</a>
<a href="/register">Register</a>
<% } %> -->