<h1>Plz Register</h1>
<form action="/register" method="POST">
    Email:<br>
    <input type="email" name="email" value="Email"><br>
    Password:<br>
    <input type="password" name="password" value="Password"><br><br>
    <input type="submit" value="Submit">
</form>
<p>
    <a href="/login">Or login here</a>
</p>