<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body>
    <header>
        <% include ./partials/_header %>
    </header>
    <p>
        <%= `Long url: ${longURL} => Short url: ${shortURL}`%>
    </p>
</body>

</html>