<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body>
    <header>
        <% include ./partials/_header %>
    </header>
    <ul>
        <% for (var url in urls) { %>
        <li>
            <% let deleteAction = `/urls/${url}/delete` %>
            <% let editPath = `/urls/${url}` %>

            <form method="POST" action=<%=deleteAction %> >
                <%= `Long url: ${urls[url]} => Short url: ${url}`%>
                <a href=<%=editPath %>>Edit</a>
                <button type="Delete">Delete</button>
            </form>

        </li>
        <% } %>
    </ul>
    <a href="/urls/new">Shorten new url</a>
</body>

</html>