<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
</head>

<body>
    <header>
        <% include ./partials/_header %>
    </header>
    <p>
        <% let editPath = `/urls/${shortURL}` %>
        <%= `Short URL: ${shortURL}`%>
        <p>
            <form method="POST" action=<%=editPath %>>
                <input type="text" name="longURL" value=<%=`${longURL}`%>>
                <button type="submit">Update</button>
            </form>
        </p>
    </p>
</body>

</html>